{
  "openapi": "3.1.0",
  "info": {
    "title": "Qzenta Website Security Snapshot",
    "version": "0.3.0",
    "description": "Fetches a URL and returns a structured, non-invasive security snapshot: HTTP status, redirect chain, HTTPS usage, common security headers, and basic technology observations. Testnet only — payment settles in test USDC on base-sepolia, no real funds.",
    "contact": {
      "name": "Qzenta (Pty) Ltd",
      "url": "https://qzenta.com",
      "email": "info@qzenta.com"
    }
  },
  "servers": [
    {
      "url": "https://sitehealth.qzenta.com",
      "description": "Isolated staging deployment (14 Aug 2026, custom domain added 16 Aug 2026) — testnet only (base-sepolia), real funded testnet payTo wallet (not the burn address anymore), not a production endpoint. Deployed for discovery-readiness auditing per Daniel's approval; not registered with any discovery index yet. Also reachable at the original qzenta-security-snapshot.qzenta.workers.dev URL (Custom Domain is additive, not a replacement)."
    },
    {
      "url": "http://127.0.0.1:8787",
      "description": "Local development."
    }
  ],
  "components": {
    "securitySchemes": {
      "x402Payment": {
        "type": "http",
        "scheme": "bearer",
        "description": "x402 Payment Required. Return HTTP 402 with payment instructions in the response body (x402 v1 format). Client pays and retries with X-PAYMENT header."
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "operationId": "discoverService",
        "summary": "Free service discovery endpoint",
        "description": "Lets an agent (or a human) see what this endpoint does and what it costs before paying. No payment required.",
        "responses": {
          "200": {
            "description": "Service description",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": { "type": "string" },
                    "description": { "type": "string" },
                    "endpoint": { "type": "string" },
                    "endpoints": { "type": "array", "items": { "type": "string" } },
                    "price": { "type": "string" },
                    "network": { "type": "string", "enum": ["base-sepolia", "base"] },
                    "status": { "type": "string" },
                    "provider": { "type": "string" }
                  }
                },
                "example": {
                  "service": "Qzenta Website Security Snapshot",
                  "description": "Fetches a URL and returns a structured, non-invasive security snapshot: HTTP status, redirect chain, HTTPS usage, common security headers, and basic technology observations.",
                  "endpoint": "GET /snapshot/run?url=<target>",
                  "endpoints": [
                    "GET /snapshot/run?url=<target> — single domain, $0.01",
                    "POST /snapshot/batch — 2-20 domains in one paid call, $0.01 per domain",
                    "GET /history?domain=<host> — past snapshots for a domain (free)",
                    "GET /changes?domain=<host> — detected changes for a domain (free)"
                  ],
                  "price": "$0.01 test USDC (base-sepolia — no real funds)",
                  "network": "base-sepolia",
                  "status": "proof-of-concept — not for production traffic",
                  "provider": "Qzenta (Pty) Ltd — https://qzenta.com"
                }
              }
            }
          }
        }
      }
    },
    "/snapshot/run": {
      "get": {
        "operationId": "runSecuritySnapshot",
        "summary": "Run a website security snapshot (paid)",
        "description": "Fetches the target URL and returns HTTP status, redirect chain, HTTPS validity, security headers, and basic tech fingerprinting. Requires x402 payment.",
        "security": [{ "x402Payment": [] }],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The http(s) URL to scan. Rejected if it resolves to a private/internal address (SSRF guard).",
            "schema": { "type": "string", "format": "uri" }
          },
          {
            "name": "history",
            "in": "query",
            "required": false,
            "description": "When exactly \"true\", persists this snapshot to the history store and appends an additive `change` object (version-gated diff vs the most recent prior complete snapshot for the same domain). Absent or any other value: behavior is byte-for-byte unchanged (no persistence, no cost).",
            "schema": { "type": "string", "enum": ["true"] }
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "description": "When exactly \"true\", runs the site-scoped content-accuracy sub-scan (bounded crawl up to 10 pages, regulatory-figure extraction, ground-truth comparison, cross-page contradiction detection) and appends a `content` block to the snapshot; the verdict becomes content-aware. A critical finding on a money or compliance-deadline fact caps content.score at 35 (Gate 1 ruling D4), forcing dimension status FAIL. Absent or any other value: content scanning is skipped entirely.",
            "schema": { "type": "string", "enum": ["true"] }
          }
        ],
        "x-payment-info": {
          "protocols": ["x402"],
          "accepts": [
            {
              "scheme": "exact",
              "network": "base-sepolia",
              "maxAmountRequired": "10000",
              "asset": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
              "assetName": "USDC",
              "payTo": "0x1866Fd80B1196AcC70A98a50917A8FD4639FE823",
              "description": "One website security snapshot",
              "maxTimeoutSeconds": 300,
              "note": "Real, funded base-sepolia testnet wallet (14 Aug 2026) — test USDC only, zero real monetary value. See docs/agent-commerce/TESTNET-WALLET.md."
            }
          ]
        },
        "responses": {
          "402": {
            "description": "Payment required — no valid X-PAYMENT header was supplied. Response body matches the x402 v1 PaymentRequirements challenge shape, as emitted by the reference x402-hono implementation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": { "type": "string", "enum": ["exact"] },
                          "network": { "type": "string", "enum": ["base-sepolia", "base"] },
                          "maxAmountRequired": { "type": "string", "description": "Atomic units of `asset` (USDC has 6 decimals — \"10000\" = $0.01)" },
                          "resource": { "type": "string", "format": "uri", "description": "The exact URL being requested, echoed back" },
                          "description": { "type": "string" },
                          "mimeType": { "type": "string" },
                          "payTo": { "type": "string", "description": "Recipient address — see docs/agent-commerce/TESTNET-WALLET.md" },
                          "maxTimeoutSeconds": { "type": "integer" },
                          "asset": { "type": "string", "description": "ERC-20 contract address of the payment asset (USDC on base-sepolia)" },
                          "outputSchema": { "type": "object" },
                          "extra": { "type": "object", "properties": { "name": { "type": "string" }, "version": { "type": "string" } } }
                        },
                        "required": ["scheme", "network", "maxAmountRequired", "resource", "payTo", "asset"]
                      }
                    },
                    "x402Version": { "type": "integer" }
                  }
                },
                "example": {
                  "error": "X-PAYMENT header is required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "base-sepolia",
                      "maxAmountRequired": "10000",
                      "resource": "https://sitehealth.qzenta.com/snapshot/run?url=https://example.com",
                      "description": "One website security snapshot",
                      "mimeType": "application/json",
                      "payTo": "0x1866Fd80B1196AcC70A98a50917A8FD4639FE823",
                      "maxTimeoutSeconds": 300,
                      "asset": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
                      "outputSchema": { "input": { "type": "http", "method": "GET", "discoverable": true } },
                      "extra": { "name": "USDC", "version": "2" }
                    }
                  ],
                  "x402Version": 1
                }
              }
            }
          },
          "200": {
            "description": "Security snapshot result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "target": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "http": {
                      "type": "object",
                      "properties": {
                        "status": { "type": ["integer", "null"] },
                        "ok": { "type": "boolean" },
                        "redirectChain": { "type": "array", "items": { "type": "string" } },
                        "finalUrl": { "type": ["string", "null"] },
                        "error": { "type": ["string", "null"] }
                      }
                    },
                    "tls": {
                      "type": "object",
                      "properties": {
                        "usedHttps": { "type": "boolean" },
                        "protocol": { "type": ["string", "null"] }
                      }
                    },
                    "dns": {
                      "type": "object",
                      "description": "Not yet implemented — Workers' fetch() does not expose raw DNS records. See README known-gaps section.",
                      "properties": {
                        "hasA": { "type": ["boolean", "null"] },
                        "hasAAAA": { "type": ["boolean", "null"] },
                        "hasMX": { "type": ["boolean", "null"] },
                        "hasTXT": { "type": ["boolean", "null"] },
                        "note": { "type": "string" }
                      }
                    },
                    "securityHeaders": {
                      "type": "object",
                      "properties": {
                        "strictTransportSecurity": { "type": ["string", "null"] },
                        "contentSecurityPolicy": { "type": ["string", "null"] },
                        "xFrameOptions": { "type": ["string", "null"] },
                        "xContentTypeOptions": { "type": ["string", "null"] },
                        "referrerPolicy": { "type": ["string", "null"] },
                        "permissionsPolicy": { "type": ["string", "null"] }
                      }
                    },
                    "techObservations": {
                      "type": "object",
                      "properties": {
                        "server": { "type": ["string", "null"] },
                        "poweredBy": { "type": ["string", "null"] },
                        "poweredByCloudflare": { "type": "boolean" },
                        "cmsGuess": { "type": ["string", "null"] }
                      }
                    },
                    "headerScore": {
                      "type": "object",
                      "description": "Security-header misconfiguration score (0-100) with A-F grade and severity-ranked issues.",
                      "properties": {
                        "score": { "type": "integer" },
                        "grade": { "type": "string" },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "header": { "type": "string" },
                              "severity": { "type": "string", "enum": ["high", "medium", "low"] },
                              "message": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "verdict": {
                      "type": "object",
                      "description": "LLM-consumable pass/fail verdict; content-aware when content=true (a critical money or compliance-deadline finding caps the blended score at 35 -> FAIL, per Gate 1 ruling D4).",
                      "properties": {
                        "status": { "type": "string", "enum": ["PASS", "WARN", "FAIL"] },
                        "score": { "type": "integer" },
                        "summary": { "type": "string" },
                        "topIssues": { "type": "array", "items": { "type": "string" } }
                      }
                    },
                    "findings": { "type": "array", "items": { "type": "string" } },
                    "content": {
                      "type": ["object", "null"],
                      "description": "Present only when the request included content=true. Site-scoped content-accuracy result: bounded crawl scope, per-fact observations, findings, 0-100 sub-score, grade, and PASS/WARN/FAIL status. A critical finding on a money or compliance-deadline fact caps content.score at 35 (Gate 1 ruling D4), forcing dimension status FAIL.",
                      "properties": {
                        "scope": {
                          "type": "object",
                          "properties": {
                            "pagesScanned": { "type": "integer" },
                            "pagesPlanned": { "type": "integer" },
                            "sitemapFound": { "type": "boolean" },
                            "truncated": { "type": "boolean" }
                          }
                        },
                        "facts": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "claims": { "type": "array", "items": { "type": "string" } },
                              "pages": { "type": "array", "items": { "type": "string" } },
                              "impact": { "type": "string" }
                            }
                          }
                        },
                        "findings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" },
                              "factKey": { "type": "string" },
                              "severity": { "type": "string" },
                              "confidence": { "type": "string" },
                              "pagePath": { "type": ["string", "null"] },
                              "claim": { "type": ["string", "null"] },
                              "groundTruth": { "type": ["string", "null"] },
                              "supersededBy": { "type": ["string", "null"] },
                              "message": { "type": "string" }
                            }
                          }
                        },
                        "score": { "type": "integer" },
                        "grade": { "type": "string" },
                        "status": { "type": "string" }
                      }
                    },
                    "change": {
                      "type": ["object", "null"],
                      "description": "Present only when the request included history=true. Comparison of this snapshot against the most recent prior complete snapshot for the same domain; non-comparable results (first scan, version mismatch, storage unavailable) are explicit with a reason, never a fabricated delta.",
                      "properties": {
                        "comparable": { "type": "boolean" },
                        "reason": { "type": "string" },
                        "changedFields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": { "type": "string" },
                              "from": {},
                              "to": {},
                              "materiality": { "type": "string", "enum": ["critical", "material", "informational"] }
                            }
                          }
                        },
                        "scoreDelta": { "type": ["integer", "null"] },
                        "verdictMoved": { "type": "boolean" },
                        "detectedAt": { "type": "string", "format": "date-time" },
                        "changeId": { "type": ["integer", "null"] },
                        "from": {
                          "type": ["object", "null"],
                          "properties": {
                            "snapshotId": { "type": "integer" },
                            "scannedAt": { "type": "string", "format": "date-time" },
                            "scannerVersion": { "type": "string" },
                            "scoringVersion": { "type": "string" }
                          }
                        },
                        "to": {
                          "type": ["object", "null"],
                          "properties": {
                            "snapshotId": { "type": "integer" },
                            "scannedAt": { "type": "string", "format": "date-time" },
                            "scannerVersion": { "type": "string" },
                            "scoringVersion": { "type": "string" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required `url` query parameter"
          }
        }
      }
    },
    "/snapshot/batch": {
      "post": {
        "operationId": "runBatchSecuritySnapshot",
        "summary": "Run a batch/portfolio website security scan across 2-20 domains (paid)",
        "description": "Scans each of 2-20 domains with the same non-invasive pipeline as GET /snapshot/run: HTTP status + redirect chain (re-validated against the SSRF guard on every hop), HTTPS usage, security headers, DNS, TLS identification, and an LLM-consumable verdict. Requires x402 payment priced per domain ($0.01 x N). A single bad domain never fails the whole batch — every result carries its own ok/error.",
        "security": [{ "x402Payment": [] }],
        "x-payment-info": {
          "protocols": ["x402"],
          "accepts": [
            {
              "scheme": "exact",
              "network": "base-sepolia",
              "maxAmountRequired": "200000",
              "asset": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
              "assetName": "USDC",
              "payTo": "0x1866Fd80B1196AcC70A98a50917A8FD4639FE823",
              "description": "Batch website security snapshot ($0.01 per domain — maxAmountRequired is dynamic: 10000 x domain count in the request body, 2-20 domains)",
              "maxTimeoutSeconds": 300,
              "note": "Example above is the 20-domain maximum ($0.20). The 402 challenge's maxAmountRequired always reflects the actual domain count of the request body."
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["domains"],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 20,
                    "description": "2-20 full http(s) URLs to scan. Each domain is individually SSRF-guarded and redirect-revalidated by the shared snapshot pipeline; an invalid or non-http(s) entry is reported as a per-item error, not a batch failure.",
                    "items": { "type": "string", "format": "uri" }
                  },
                  "content": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, each domain's snapshot additionally runs the site-scoped content-accuracy sub-scan (content=true semantics per /snapshot/run): regulatory-figure extraction, ground-truth comparison, cross-page contradiction detection."
                  }
                }
              },
              "example": {
                "domains": ["https://example.com", "https://example.org"]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid batch request — returned BEFORE any payment challenge: body is not JSON, domains is missing/not an array, has fewer than 2 or more than 20 entries, contains non-string/empty entries, or contains duplicate domains."
          },
          "402": {
            "description": "Payment required — same x402 v1 PaymentRequirements shape as GET /snapshot/run, with maxAmountRequired = 10000 x N atomic units reflecting the request body's domain count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "accepts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scheme": { "type": "string", "enum": ["exact"] },
                          "network": { "type": "string", "enum": ["base-sepolia", "base"] },
                          "maxAmountRequired": { "type": "string", "description": "Atomic units of `asset` — 10000 per domain (USDC has 6 decimals; \"20000\" = $0.02 for 2 domains)" },
                          "resource": { "type": "string", "format": "uri", "description": "The exact URL being requested, echoed back" },
                          "description": { "type": "string" },
                          "mimeType": { "type": "string" },
                          "payTo": { "type": "string", "description": "Recipient address — see docs/agent-commerce/TESTNET-WALLET.md" },
                          "maxTimeoutSeconds": { "type": "integer" },
                          "asset": { "type": "string", "description": "ERC-20 contract address of the payment asset (USDC on base-sepolia)" },
                          "outputSchema": { "type": "object" },
                          "extra": { "type": "object", "properties": { "name": { "type": "string" }, "version": { "type": "string" } } }
                        },
                        "required": ["scheme", "network", "maxAmountRequired", "resource", "payTo", "asset"]
                      }
                    },
                    "x402Version": { "type": "integer" }
                  }
                },
                "example": {
                  "error": "X-PAYMENT header is required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "base-sepolia",
                      "maxAmountRequired": "20000",
                      "resource": "https://sitehealth.qzenta.com/snapshot/batch",
                      "description": "Batch scan of 2 domains ($0.01 per domain)",
                      "mimeType": "application/json",
                      "payTo": "0x1866Fd80B1196AcC70A98a50917A8FD4639FE823",
                      "maxTimeoutSeconds": 300,
                      "asset": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
                      "outputSchema": { "input": { "type": "http", "method": "POST", "discoverable": true } },
                      "extra": { "name": "USDC", "version": "2" }
                    }
                  ],
                  "x402Version": 1
                }
              }
            }
          },
          "200": {
            "description": "Batch results — one entry per input domain, request order preserved; a per-domain failure is isolated to its own entry and never fails the batch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["results"],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["domain", "ok"],
                        "properties": {
                          "domain": { "type": "string" },
                          "ok": { "type": "boolean", "description": "true when a snapshot was produced for this domain (an unreachable or failing site still returns ok:true with its FAIL-verdict snapshot); false only for input-level failures (invalid/non-http(s) URL) or when the batch deadline passed before the domain started." },
                          "snapshot": {
                            "type": ["object", "null"],
                            "description": "The security snapshot for this domain — identical shape to GET /snapshot/run's 200 body. Present when ok is true.",
                            "properties": {
                              "target": { "type": "string" },
                              "timestamp": { "type": "string", "format": "date-time" },
                              "http": {
                                "type": "object",
                                "properties": {
                                  "status": { "type": ["integer", "null"] },
                                  "ok": { "type": "boolean" },
                                  "redirectChain": { "type": "array", "items": { "type": "string" } },
                                  "finalUrl": { "type": ["string", "null"] },
                                  "error": { "type": ["string", "null"] }
                                }
                              },
                              "tls": {
                                "type": "object",
                                "properties": {
                                  "usedHttps": { "type": "boolean" },
                                  "protocol": { "type": ["string", "null"] }
                                }
                              },
                              "dns": {
                                "type": "object",
                                "properties": {
                                  "hasA": { "type": ["boolean", "null"] },
                                  "hasAAAA": { "type": ["boolean", "null"] },
                                  "hasMX": { "type": ["boolean", "null"] },
                                  "hasTXT": { "type": ["boolean", "null"] },
                                  "note": { "type": "string" }
                                }
                              },
                              "securityHeaders": {
                                "type": "object",
                                "properties": {
                                  "strictTransportSecurity": { "type": ["string", "null"] },
                                  "contentSecurityPolicy": { "type": ["string", "null"] },
                                  "xFrameOptions": { "type": ["string", "null"] },
                                  "xContentTypeOptions": { "type": ["string", "null"] },
                                  "referrerPolicy": { "type": ["string", "null"] },
                                  "permissionsPolicy": { "type": ["string", "null"] }
                                }
                              },
                              "techObservations": {
                                "type": "object",
                                "properties": {
                                  "server": { "type": ["string", "null"] },
                                  "poweredBy": { "type": ["string", "null"] },
                                  "poweredByCloudflare": { "type": "boolean" },
                                  "cmsGuess": { "type": ["string", "null"] }
                                }
                              },
                              "headerScore": {
                                "type": "object",
                                "properties": {
                                  "score": { "type": "integer" },
                                  "grade": { "type": "string" },
                                  "issues": { "type": "array", "items": { "type": "object", "properties": { "header": { "type": "string" }, "severity": { "type": "string" }, "message": { "type": "string" } } } }
                                }
                              },
                              "verdict": {
                                "type": "object",
                                "properties": {
                                  "status": { "type": "string", "enum": ["PASS", "WARN", "FAIL"] },
                                  "score": { "type": "integer" },
                                  "summary": { "type": "string" },
                                  "topIssues": { "type": "array", "items": { "type": "string" } }
                                }
                              },
                              "content": {
                                "type": ["object", "null"],
                                "description": "Present only when the batch request included content:true. Same shape as GET /snapshot/run's content block.",
                                "properties": {
                                  "scope": { "type": "object", "properties": { "pagesScanned": { "type": "integer" }, "pagesPlanned": { "type": "integer" }, "sitemapFound": { "type": "boolean" }, "truncated": { "type": "boolean" } } },
                                  "facts": { "type": "object" },
                                  "findings": { "type": "array", "items": { "type": "object" } },
                                  "score": { "type": "integer" },
                                  "grade": { "type": "string" },
                                  "status": { "type": "string" }
                                }
                              },
                              "findings": { "type": "array", "items": { "type": "string" } }
                            }
                          },
                          "error": { "type": ["string", "null"], "description": "Present when ok is false — the reason this domain was not scanned." }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/history": {
      "get": {
        "operationId": "getSnapshotHistory",
        "summary": "List past snapshots for a domain (free)",
        "description": "Lists stored snapshot summary rows for a domain, newest first. Returns ONLY summary columns that map 1:1 to fields already present in the GET /snapshot/run response, plus operational provenance metadata (scanner_version, scoring_version, status). The raw snapshot payload is never returned. Partial/failed observations ARE listed (visible in history) but are never used as comparison anchors.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Hostname the history is keyed on (e.g. example.com).",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows (default 10, max 100).",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Optional ISO-8601 timestamp cursor; returns rows strictly older than this (stable pagination).",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot history summary rows for the domain, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain", "snapshots"],
                  "properties": {
                    "domain": { "type": "string" },
                    "snapshots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "snapshotId": { "type": "integer" },
                          "domain": { "type": "string" },
                          "scannedAt": { "type": "string", "format": "date-time" },
                          "scannerVersion": { "type": "string" },
                          "scoringVersion": { "type": "string" },
                          "status": { "type": "string", "enum": ["complete", "partial", "failed"] },
                          "httpStatus": { "type": ["integer", "null"] },
                          "usedHttps": { "type": "boolean" },
                          "tlsProtocol": { "type": ["string", "null"] },
                          "weakCipher": { "type": "boolean" },
                          "headerScore": { "type": "integer" },
                          "headerGrade": { "type": "string" },
                          "verdictStatus": { "type": "string", "enum": ["PASS", "WARN", "FAIL"] },
                          "verdictScore": { "type": "integer" },
                          "contentScore": { "type": ["integer", "null"] },
                          "contentGrade": { "type": ["string", "null"] },
                          "contentStatus": { "type": ["string", "null"] },
                          "contentPagesScanned": { "type": ["integer", "null"] }
                        }
                      }
                    },
                    "nextBefore": { "type": ["string", "null"], "description": "Present when the limit was reached; pass as `before` to fetch the next page." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required `domain` query parameter"
          }
        }
      }
    },
    "/changes": {
      "get": {
        "operationId": "getDomainChanges",
        "summary": "List detected changes for a domain (free)",
        "description": "Lists stored change records for a domain, newest first. Every entry exposes its provenance (from/to scanner_version + scoring_version), comparable flag, and reason — an agent can independently tell a real comparison from a scanner/scoring-model evolution without internal knowledge of the versioning scheme.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Hostname the change history is keyed on (e.g. example.com).",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows (default 10, max 100).",
            "schema": { "type": "integer", "default": 10, "maximum": 100 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Optional ISO-8601 timestamp cursor; returns rows strictly older than this (stable pagination).",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Detected changes for the domain, newest first, with mandatory provenance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["domain", "changes"],
                  "properties": {
                    "domain": { "type": "string" },
                    "changes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "changeId": { "type": "integer" },
                          "domain": { "type": "string" },
                          "detectedAt": { "type": "string", "format": "date-time" },
                          "comparable": { "type": "boolean" },
                          "reason": { "type": "string" },
                          "materiality": { "type": ["string", "null"], "enum": ["critical", "material", "informational"] },
                          "changedFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "field": { "type": "string" },
                                "from": {},
                                "to": {},
                                "materiality": { "type": "string", "enum": ["critical", "material", "informational"] }
                              }
                            }
                          },
                          "scoreDelta": { "type": ["integer", "null"] },
                          "verdictMoved": { "type": "boolean" },
                          "from": {
                            "type": "object",
                            "properties": {
                              "snapshotId": { "type": "integer" },
                              "scannedAt": { "type": "string", "format": "date-time" },
                              "scannerVersion": { "type": "string" },
                              "scoringVersion": { "type": "string" }
                            }
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "snapshotId": { "type": "integer" },
                              "scannedAt": { "type": "string", "format": "date-time" },
                              "scannerVersion": { "type": "string" },
                              "scoringVersion": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "nextBefore": { "type": ["string", "null"], "description": "Present when the limit was reached; pass as `before` to fetch the next page." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required `domain` query parameter"
          }
        }
      }
    }
  }
}
